#CONFIGURATION FILE (options not used are commented) 

#INPUT OPTIONS 
#receptor =
#ligand =
#flex = [flexible residues in receptor in pdbqt format] 
#SEARCH SPACE CONFIGURATIONS 
#Center of the box (values bxi, byi and bzi) 
center_x = -3
center_y = 62
center_z = 35
#Size of the box (values bxf, byf and bzf) 
size_x = 21
size_y = 21
size_z = 21
#OUTPUT OPTIONS 
#out = 
#log = 

#OTHER OPTIONS 
cpu = 2
exhaustiveness = 32
num_modes = 20
#energy_range = 
seed = 1958246272